In [1]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv('D:\ArhamDQ-lab\WEB PROGRAMING\Course Simplilearn\Machine Learning\Demo Datasets\Lesson 6/horse.csv')

In [10]:
data.head()

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,45.0,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,74.0,7.4,NaN,NaN,died,no,4300,0,0,no

In [5]:
data.isnull().sum()

surgery                    0
age                        0
hospital_number            0
rectal_temp               60
pulse                     24
respiratory_rate          58
temp_of_extremities       56
peripheral_pulse          69
mucous_membrane           47
capillary_refill_time     32
pain                      55
peristalsis               44
abdominal_distention      56
nasogastric_tube         104
nasogastric_reflux       106
nasogastric_reflux_ph    246
rectal_exam_feces        102
abdomen                  118
packed_cell_volume        29
total_protein             33
abdomo_appearance        165
abdomo_protein           198
outcome                    0
surgical_lesion            0
lesion_1                   0
lesion_2                   0
lesion_3                   0
cp_data                    0
dtype: int64

In [13]:
data.columns

Index(['surgery', 'age', 'hospital_number', 'rectal_temp', 'pulse',
       'respiratory_rate', 'temp_of_extremities', 'peripheral_pulse',
       'mucous_membrane', 'capillary_refill_time', 'pain', 'peristalsis',
       'abdominal_distention', 'nasogastric_tube', 'nasogastric_reflux',
       'nasogastric_reflux_ph', 'rectal_exam_feces', 'abdomen',
       'packed_cell_volume', 'total_protein', 'abdomo_appearance',
       'abdomo_protein', 'outcome', 'surgical_lesion', 'lesion_1', 'lesion_2',
       'lesion_3', 'cp_data'],
      dtype='object')

In [14]:
data = data.drop(['rectal_temp', 'pulse',
       'respiratory_rate', 'temp_of_extremities', 'peripheral_pulse',
       'mucous_membrane', 'capillary_refill_time', 'pain', 'peristalsis',
       'abdominal_distention', 'nasogastric_tube', 'nasogastric_reflux',
       'nasogastric_reflux_ph', 'rectal_exam_feces', 'abdomen',
       'packed_cell_volume', 'total_protein', 'abdomo_appearance',
       'abdomo_protein'],axis=1)

In [15]:
data.isnull().sum()

surgery            0
age                0
hospital_number    0
outcome            0
surgical_lesion    0
lesion_1           0
lesion_2           0
lesion_3           0
cp_data            0
dtype: int64

In [17]:
data.head()

,surgery,age,hospital_number,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,died,no,11300,0,0,no
1,yes,adult,534817,euthanized,no,2208,0,0,no
2,no,adult,530334,lived,no,0,0,0,yes
3,yes,young,5290409,died,yes,2208,0,0,yes
4,no,adult,530255,died,no,4300,0,0,no

In [19]:
data['outcome'].unique()

array(['died', 'euthanized', 'lived'], dtype=object)

In [27]:
def label_fix(label):
    if label == 'died':
        return 0
    elif label == 'euthanized' :
        return 1
    else :
        return 2

In [28]:
data['outcome'] = data['outcome'].apply(label_fix)

In [29]:
data['outcome'].head()

0    0
1    1
2    2
3    0
4    0
Name: outcome, dtype: int64

In [30]:
data.head()

,surgery,age,hospital_number,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,0,no,11300,0,0,no
1,yes,adult,534817,1,no,2208,0,0,no
2,no,adult,530334,2,no,0,0,0,yes
3,yes,young,5290409,0,yes,2208,0,0,yes
4,no,adult,530255,0,no,4300,0,0,no

In [37]:
kate_feat =['surgery','age','surgical_lesion','cp_data','outcome']
coun_feat =['hospital_number','lesion_1','lesion_2','lesion_3']

In [38]:
import tensorflow as tf

In [41]:
countinues = [tf.feature_column.numeric_column(k) for k in coun_feat]
kategorik = [tf.feature_column.categorical_column_with_hash_bucket (k,hash_bucket_size=1000) for k in kate_feat]

In [44]:
model = tf.estimator.LinearClassifier(n_classes=3,model_dir='ongoing/train',feature_columns = countinues+kategorik)

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': 'ongoing/train', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_checkpoint_save_graph_def': True, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [49]:
df_train = pd.read_csv('D:\ArhamDQ-lab\WEB PROGRAMING\Course Simplilearn\Machine Learning\Demo Datasets\Lesson 6/horse.csv',index_col=False)
df_test = pd.read_csv('D:\ArhamDQ-lab\WEB PROGRAMING\Course Simplilearn\Machine Learning\Demo Datasets\Lesson 6/horse.csv',skiprows=1,skipinitialspace=True,index_col=False)